.profile__add-btn {
    background: url(../../../images/add-button.svg) center no-repeat;
    margin: auto 0 auto auto;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #000000;
    width: 150px;
    height: 50px;
}
.profile__add-btn:hover {
    opacity: 0.6;
}
@media screen and (max-width: 700px) {
    .profile__add-btn {
        width: 282px;
        margin: 36px auto 0 auto;
    }
}