.place__title {
  width: 100%;
  font-weight: 900;
  font-size: 4em;
  line-height: 1.06;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 320px) {
  .place__title {
    font-size: 2em;
    line-height: 1.09;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  
}