.profile__avatar-btn {
    border: none;
    display: block;
    position: relative;
    background-color: black;
}
.profile__avatar-btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    opacity: 0;
}
.profile__avatar-btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../../../images/edit-button.svg) center no-repeat;
    background-size: 30%;
    opacity: 0;
}
.profile__avatar-btn:hover:before,
.profile__avatar-btn:hover:after {
    opacity: 1;
}