.elements {
    display: grid;
    grid-template-columns: repeat(auto-fill, 282px);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 20px 17px;
    margin: auto;
    margin-top: 50px;
    width: 68.75%;
    justify-content: center;

}@media screen and (max-width: 850px) {
    .elements {
        margin-top: 36px;
        width: 88.125%;
    }
}