.popup__close-btn {
    background: url(../../../images/close-icon.svg) center no-repeat;
    height: 40px;
    margin-bottom: 0;
    margin-left: 465px;
    width: 40px;
    border: none;
    cursor: pointer;
}
.popup__close-btn:hover {
    opacity: 0.6;
}
@media screen and (max-width: 600px) {
    .popup__close-btn {
        width: 26px;
        height: 26px;
        margin-left: 260px;
        margin-bottom: 13.6px;
    }
}