.photo-popup__close-btn {
    margin-left: 850px;
    margin-bottom: 0;
    background: url(../../../images/close-icon.svg) center no-repeat;
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
}
.photo-popup__close-btn:hover {
    opacity: 0.6;
}
@media screen and (max-width: 600px) {
    .photo-popup__close-btn {
        width: 26px;
        height: 26px;
        margin-left: 500px;
    }
}