.profile__info {
    display: grid;
    grid-template-rows: 39px 18px;
    grid-template-columns: 294px 24px;
    column-gap: 18px;
    max-height: 73px;
    margin-left: 30px;
    margin-top: 22px;
}