.popup__submit-btn {
    margin: 18px auto 37px auto;
    width: 358px;
    height: 50px;
    text-align: center;
    background: #000000;
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    border: none;
    border-radius: 2px;
    padding-top: 14px;
    padding-bottom: 18px;
}
.popup__submit-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 600px) {
    .popup__submit-btn {
        margin: 15px auto 25px auto;
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 14px;
    }
}