.element__trash-btn {
    display: none;
    background: url(../../../images/trash-btn.svg) center no-repeat;
    background-size: 100%;
    border: none;
    position: absolute;
    height: 23px;
    width: 18px;
    top: 18px;
    right: 15px;
    cursor: pointer;
}
.element__trash-btn:hover{
    opacity: 0.6;
}
